@using WebApplicationOfCalendar.Models
@model WebApplicationOfCalendar.Models.CalendarViewModel
@{
    ViewBag.Title = "MonthCalendar";
}

<body>
    <table class="month_calendar">
        <tr>
            <th class="years_line" colspan="7">@Model.DisplayYear 年 @Model.DisplayMonth 月</th>
        </tr>
        <tr>
          @foreach (var weekday in WeekdayCode.weekdays)
          {
            <td>@weekday</td>
          }
        </tr>
      @foreach (var list in Model.WeekList)
      {
        <tr>
          @foreach (var weekday in list)
          {
            <td class="sunday_row">@weekday</td>
          }
        </tr>
      }
     </table>
</body>
